@font-face {
  font-family: 'Ionicons';
  src: url('../assets/fonts/iconfont.eot');
  /* IE9*/
  src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../assets/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../assets/fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.ion-md-find:before { content: "\e603"; }
.ion-ios-find:before { content: "\e603"; }
.ion-ios-find-outline:before { content: "\e603"; }


.ion-ios-chat:before { content: "\e660"; }
.ion-ios-chat-outline:before { content: "\e660"; }
.ion-md-chat:before { content: "\e660"; }

.ion-ios-people:before { content: "\e62c"; }
.ion-ios-people-outline:before { content: "\e62c"; }
.ion-md-people:before { content: "\e62c"; }

.icon-ios-person:before { content: "\e61d"; }
.icon-ios-person-outline:before { content: "\e61d"; }
.icon-md-person:before { content: "\e61d"; }
