<ion-header>
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.message">
    </button>
  </div>
  <div class="box_hd" >Title</div>
  <div class="buttons">
    <button class="button button-icon icon ion-person"></button>
  </div>
</ion-header>

<ion-content class="scroll-wrapper box_bd chat_bd scrollbar-dynamic" delegate-handle="messageDetailsScroll" id="message-detail-content">
  <ion-refresher pulling-text="..." on-refresh="doRefresh()" pulling-icon=""></ion-refresher>
  <div ng-repeat="item in messageDetils">
    <p class="rj-message-time" ng-bind="item.time" ng-if="false"></p>
    <div class="rj-message-wrap" ng-if="!item.isFromeMe">
      <img class="rj-head-pic">
      <!-- ng-src="{{message.pic}}" -->
      <span class="rj-triangle-left"></span>
      <p class="rj-message" ng-bind="item.content"></p>
    </div>
    <div class="rj-message-wrap" ng-if="item.isFromeMe">
      <img src="assets/imgs/ben.png" class="rj-head-pic-right">
      <span class="rj-triangle-right"></span>
      <p class="rj-message-right" ng-bind="item.content"></p>
    </div>
  </div>
</ion-content>

<ion-footer align-title="left" class="bar-light" resize-foot-bar>
  <div class="rj-footer-btn-wrap">
    <button class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">
    </button>
  </div>
  <label class="item item-input rj-footer-input">
    <textarea msd-elastic ng-model="send_content"></textarea>
    <div class="buttons">
      <button class="rj-footer-btn button button-icon icon ion-happy-outline"></button>
    </div>
  </label>
  <div class="rj-footer-btn-wrap">
    <div class="buttons" ng-show="!send_content || send_content === ''">
      <button class="button button-icon icon ion-ios-plus-outline rj-footer-btn-left">
      </button>
    </div>
    <div class="rj-send-button" ng-hide="!send_content || send_content === ''">
      <p>发送</p>
    </div>
  </div>
</ion-footer>
