<ion-header>
  <!-- <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.message">
    </button>
  </div> -->
  <div class="box_hd" ng-bind="message.name"></div>
  <!-- <div class="buttons">
    <button class="button button-icon icon ion-person"></button>
  </div> -->
</ion-header>

<ion-content class="rj-stable-content" delegate-handle="messageDetailsScroll" id="message-detail-content">
  <ion-refresher pulling-text="..." on-refresh="doRefresh()" pulling-icon=""></ion-refresher>
  <div>
    <p class="rj-message-time" ng-bind="item.time" ng-if="false"></p>
    <div class="rj-message-wrap" ng-if="!item.isFromeMe">
      <img src="assets/imgs/mike.png" class="rj-head-pic">
      <!-- <span class="rj-triangle-left"></span> -->
      <p class="rj-message" ng-bind="item.content">Hi</p>
    </div>
    <div class="rj-message-wrap" ng-if="item.isFromeMe">
      <img src="assets/imgs/ben.png" class="rj-head-pic-right">
      <!-- <span class="rj-triangle-right"></span> -->
      <p class="rj-message-right" ng-bind="item.content">Back now</p>
    </div>
  </div>
</ion-content>

<ion-footer align-title="left" class="bar-light">
  <div class="rj-footer-btn-wrap">
    <button class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">
    </button>
  </div>
  <label class="item item-input rj-footer-input">
    <pre id="editArea" contenteditable-directive="" mm-paste="" class="flex edit_area ng-isolate-scope ng-valid ng-dirty" contenteditable="true"
      ng-blur="editAreaBlur($event)" ng-model="editAreaCtn" ng-click="editAreaClick($event)" ng-keyup="editAreaKeyup($event)"
      ng-keydown="editAreaKeydown($event)"></pre>
  </label>

  <div class="action">
    <span ng-if="isMacOS" class="desc ng-scope">按下Cmd+Enter换行</span>
    <a class="btn btn_send" href="javascript:;" ng-click="sendTextMessage()">发送</a>
  </div>

</ion-footer>
